﻿<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <title>@ViewBag.Title</title>

  @RenderSection("Styles", required: true)
</head>
<body>
  <!--[if !IE]>-->
  <!-- <link rel="stylesheet" type="text/css" href="non-ie-only.css" /> -->
  <!--<![endif]-->
  @RenderBody()
  @RenderSection("Scripts", required: true)
</body>
</html>
