<!--suppress JSUnresolvedVariable -->
<div class="container">
  <div ng-hide="isLoading">
    <div ng-if="hasAttachments" id="attachments-container">
      <label for="attachment-list">Attachment to upload</label>
      <select
          id="attachment-list"
          class="form-control">
        <option
            ng-repeat="attachment in attachments"
            ng-selected="$first"
            ng-click="selectAttachment(attachment)"
            value="{{ attachment.name }}"
            title="{{ attachment.name }}"
            class="ms-Label">{{ attachment.shortName }}
        </option>
      </select>
    </div>
    <div ng-if="hasAttachments" id="idm-properties">
      <h3>IDM Properties</h3>
      <div id="document-types-container">
        <label for="document-types">Document type</label>
        <select
            id="document-types"
            class="form-control"
            ng-model="selectedDocumentTypeName"
            ng-change="updateAttributesAndAcl(selectedDocumentTypeName)">
          <option
              ng-repeat="documentType in documentTypes"
              value="{{ documentType.name }}"
              title="{{ documentType.desc }}">
            {{ documentType.shortDesc }}
          </option>
        </select>
      </div>
      <div ng-if="showFormControls">
        <div class="ms-Grid">
          <div class="ms-Grid-row" ng-repeat="attribute in attributes track by $index">
            <div class="ms-Grid-col ms-sm12 form-group" ng-show="isAttributeInputEditable(attribute)">
              <label for="attribute-{{ $index }}" class="label">
                {{ attribute.desc }}
                <span ng-show="isAttributeRequired(attribute)" class="required-small-text">*</span>
              </label>
              <!--suppress XmlDuplicatedId -->
              <input
                  ng-if="!isAttributeOfDateType(attribute)"
                  id="attribute-{{ $index }}"
                  class="form-control"
                  type="text"
                  value="{{ attribute.value }}"
                  ng-model="attribute.value"
                  ng-change="validateAttribute(attribute)"/>
              <!--suppress XmlDuplicatedId -->
              <input
                  ng-if="isAttributeTypeTimestamp(attribute)"
                  id="attribute-{{ $index }}"
                  class="form-control"
                  type="text"
                  value="{{ attribute.value }}"
                  moment-picker
                  format="YYYY-MM-DD hh:mm:ss"
                  ng-model="attribute.value"/>
              <!--suppress XmlDuplicatedId -->
              <input
                  ng-if="isAttributeTypeDate(attribute)"
                  id="attribute-{{ $index }}"
                  class="form-control"
                  type="text"
                  value="{{ attribute.value }}"
                  moment-picker
                  format="YYYY-MM-DD"
                  ng-model="attribute.value"/>
              <!--suppress XmlDuplicatedId -->
              <input
                  ng-if="isAttributeTypeTime(attribute)"
                  id="attribute-{{ $index }}"
                  class="form-control"
                  type="text"
                  value="{{ attribute.value }}"
                  moment-picker
                  format="hh:mm:ss"
                  ng-model="attribute.value"/>
              <div ng-show="!attribute.valid">
                <span class="error">{{ attribute.validationError }}</span>
              </div>
            </div>
            <div class="ms-Grid-col ms-sm12 form-group" ng-show="isAttributeTypeBoolean(attribute)">
              <label for="boolean-list-{{ $index }}" class="label">{{ attribute.desc }}</label>
              <select
                  id="boolean-list-{{ $index }}"
                  class="form-control">
                <option value="true">yes</option>
                <option value="false">no</option>
              </select>
            </div>
            <div class="ms-Grid-col ms-sm12 form-group" ng-show="isAttributeTypeValueSet(attribute)">
              <label for="value-set-{{ $index }}" class="label">{{ attribute.desc }}</label>
              <select
                  id="value-set-{{ $index }}"
                  class="form-control">
                <option
                    ng-repeat="valueSet in getAttributeValueSets(attribute)"
                    value="{{ valueSet.name }}">
                  {{ valueSet.desc }}
                </option>
              </select>
            </div>
          </div>
          <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-sm12 form-group">
              <label for="attribute-icl" class="label">ACL</label>
              <select
                  class="form-control"
                  ng-model="selectedAclDescription"
                  ng-change="updateSelectedAcl(selectedAclDescription)"
                  id="attribute-icl">
                <option
                    ng-repeat="acl in acls"
                    value="{{ acl.name }}">
                  {{ acl.name }}
                </option>
              </select>
              <div ng-show="!isAclSelected">
                <span class="error">{{ aclNotSelectedError }}</span>
              </div>
            </div>
            <div class="ms-Grid-col ms-sm12 form-group">
              <button
                  type="button"
                  id="share-document"
                  class="btn btn-primary btn-lg btn-block"
                  data-is-focusable="true"
                  aria-pressed="false"
                  ng-click="shareAttachment()">
                Upload to IDM
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="!hasAttachments" class="padding text-center">
      <p>{{ errorMessage }}</p>
    </div>
  </div>
  <div id="loading" ng-show="isLoading">
    <div class="sk-wave">
      <div class="sk-rect sk-rect1"></div>
      <div class="sk-rect sk-rect2"></div>
      <div class="sk-rect sk-rect3"></div>
      <div class="sk-rect sk-rect4"></div>
      <div class="sk-rect sk-rect5"></div>
    </div>
  </div>
</div>
