<div id="loading" ng-show="isBusy">
  <div class="sk-wave">
    <div class="sk-rect sk-rect1"></div>
    <div class="sk-rect sk-rect2"></div>
    <div class="sk-rect sk-rect3"></div>
    <div class="sk-rect sk-rect4"></div>
    <div class="sk-rect sk-rect5"></div>
  </div>
</div>
<div class="container" id="settings" ng-hide="isBusy">

  <div class="ms-Grid" id="idm-profiles" ng-if="hasProfiles()">
    <div class="ms-Grid-row">
      <div class="ms-Grid-col ms-u-sm12 col-header">
        <label class="ms-fontSize-l ms-fontWeight-semibold">Authentication Profiles</label>
      </div>
    </div>
    <div class="ms-Grid-row header">
      <div class="ms-Grid-col ms-sm6">Name</div>
      <div class="ms-Grid-col ms-sm5">Status</div>
    </div>
    <div class="ms-Grid-row ms-bgColor-white" ng-repeat="profile in profiles track by $index">
      <div class="ms-Grid-col ms-sm6 active" ng-click="refreshProfile(profile)" title="Click to refresh profile">
        {{ profile.name }}
      </div>
      <div class="ms-Grid-col ms-sm2">
        <i class="ms-Icon ms-Icon--StatusCircleErrorX x-hidden-focus" title="Inactive" aria-hidden="true"
           ng-if="!profile.active"></i>
        <i class="ms-Icon ms-Icon--StatusCircleCheckmark" title="Active" aria-hidden="true"
           ng-if="profile.active"></i>
      </div>
      <div class="ms-Grid-col ms-sm2 active" ng-click="removeProfile(profile)">
        <i class="ms-Icon ms-Icon--RecycleBin x-hidden-focus large" title="Remove profile" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div ng-show="addProfile">
    <div class="ms-Grid" id="idm-new-profile">
      <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-sm12">
          <form id="documentForm">
            <label class="ms-Label">Select authentication file:</label>
            <input type="file" on-read-file="showContent($fileContent)" accept=".ionapi" class="infor-file"/>
          </form>
        </div>
      </div>
      <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-sm12 form-group">
          <label for="oAuthBox" class="label">Profile name:</label>
          <input id="oAuthBox" class="form-control" type="text" ng-model="profileName"/>
        </div>
      </div>
    </div>
    <button
        type="button"
        class="btn btn-primary btn-lg btn-block"
        data-automation-id="authenticate"
        data-is-focusable="true"
        aria-pressed="false"
        ng-click="redirectMingle()">
      Authenticate
    </button>
  </div>
  <button
      type="button"
      class="btn btn-secondary btn-lg btn-block"
      data-automation-id="add-profile"
      data-is-focusable="true"
      aria-pressed="false"
      ng-click="addProfile = !addProfile">
    Add Profile
  </button>

  <div class="ms-Grid-row" ng-if="false">
    <div class="ms-Grid-col ms-u-sm12 text-right">
      <button class="ms-Button ms-Button--primary" ng-click="redirectMingle()">
            <span class="ms-Button-label">
              Connect
            </span>
      </button>
    </div>
  </div>
</div>
<!--<div class="ms-Grid-row" ng-hide="!hasProfiles()">-->
<!--<div class="ms-Grid-col ms-u-sm6">-->
<!--<label class="ms-fontSize-l ms-fontWeight-semibold">Profiles</label>-->
<!--</div>-->
<!--</div>-->
<!--<div class="ms-Grid-row indented-top" ng-hide="!hasProfiles()">-->
<!--<div class="ms-Grid-col ms-u-sm12">-->
<!--<table class="ms-Table ms-Table&#45;&#45;selectable">-->
<!--<thead>-->
<!--<tr>-->
<!--<th>-->
<!--<span class="ms-font-m ms-fontWeight-semibold wide">Name</span>-->
<!--</th>-->
<!--<th>-->
<!--<span class="ms-font-m ms-fontWeight-semibold wide">Status</span>-->
<!--</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr ng-repeat="profile in profiles track by $index">-->
<!--<td>-->
<!--<span class="ms-font-s ms-fontWeight-semibold" ng-click="refreshProfile(profile)">-->
<!--{{ profile.name }}-->
<!--</span>-->
<!--</td>-->
<!--<td>-->
<!--<span class="ms-font-s">-->
<!--<i-->
<!--title="Active"-->
<!--ng-show="profile.active"-->
<!--class="plm ms-fontWeight-semibold ms-fontColor-themePrimary ms-Icon ms-Icon&#45;&#45;CheckMark"-->
<!--aria-hidden="true">-->
<!--</i>-->
<!--<i-->
<!--title="Not Active"-->
<!--ng-show="!profile.active"-->
<!--class="plm ms-fontWeight-semibold ms-fontColor-themePrimary ms-Icon ms-Icon&#45;&#45;Cancel"-->
<!--aria-hidden="true">-->
<!--</i>-->
<!--</span>-->
<!--</td>-->
<!--<td>-->
<!--<span class="ms-font-s">-->
<!--<button-->
<!--title="Delete"-->
<!--ng-click="removeProfile(profile)"-->
<!--class="plm ms-fontWeight-semibold ms-fontColor-themePrimary ms-Icon ms-Icon&#45;&#45;Delete">-->
<!--</button>-->
<!--</span>-->
<!--</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->