﻿@section Styles {}
@section Scripts {
  <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="~/lib/office/1/office.js"></script>
  <script type="text/javascript" src="~/js/Actions/authRedirect.js"></script>
}
<div class="ms-typeramp-dialog">
  <p id="popup" class="ms-font-m">Please wait for this window to close, before continuing with the add-in.</p>
</div>