﻿@section Styles {}
@section Scripts {
  <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="~/lib/office/1/office.js"></script>
  <script type="text/javascript" src="~/js/Actions/dialog.js"></script>
}
<h1>Please wait while redirecting to sign on page</h1>
