﻿@{
    ViewData["Title"] = "Infor Document Management";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Office.css" />
    <link rel="stylesheet" href="~/css/OfficeThemes.css" />
    <link rel="stylesheet" href="~/css/fabric.min.css" />
    <link rel="stylesheet" href="~/css/angular-moment-picker.min.css" />
    <link rel="stylesheet" href="~/css/forms.css" />
    <link rel="stylesheet" href="~/css/profiles.css" />
    <link rel="stylesheet" href="~/css/ms.css" />
    <link rel="stylesheet" href="~/css/notifications.css" />
    <link rel="stylesheet" href="~/css/documents.css" />
    <link rel="stylesheet" href="~/css/settings.css" />
    <link rel="stylesheet" href="~/css/loading-indicator.css" />
    <link rel="stylesheet" href="~/css/app.css" />
}
@section Scripts {
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Angular -->
    <script type="text/javascript" src="~/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="~/lib/angular/angular-route.min.js"></script>
    <!-- https://indrimuska.github.io/angular-moment-picker/ -->
    <script type="text/javascript" src="~/lib/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="~/lib/angular/angular-moment-picker.min.js"></script>
    <!-- Microsoft Office -->
    <script type="text/javascript" src="~/lib/office/1/office.debug.js"></script>
    <!-- Fabric UI -->
    <script type="text/javascript" src="~/lib/fabric/fabric.min.js"></script>
    <!-- QR decoder http://cirocosta.github.io/qcode-decoder/ -->
    <script type="text/javascript" src="~/lib/qcode/qcode-decoder.min.js"></script>
    <!-- App -->
    <script type="text/javascript" src="~/js/app.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
    <script type="text/javascript" src="~/js/Services/StringService.js"></script>
    <script type="text/javascript" src="~/js/Services/ConstantService.js"></script>
    <script type="text/javascript" src="~/js/Services/ProfileService.js"></script>
    <script type="text/javascript" src="~/js/Services/URIService.js"></script>
    <script type="text/javascript" src="~/js/Services/AttributeService.js"></script>
    <script type="text/javascript" src="~/js/Services/DocumentService.js"></script>
    <script type="text/javascript" src="~/js/Services/ItemService.js"></script>
    <script type="text/javascript" src="~/js/Services/AttachmentsService.js"></script>
    <script type="text/javascript" src="~/js/Components/document.js"></script>
    <script type="text/javascript" src="~/js/Components/settings.js"></script>
    <script type="text/javascript" src="~/js/Components/help.js"></script>
}

<div id="container" ng-controller="mainController">
    <div class="navbar">
        <a ng-click="openLocation('#document')" class="nav-ms-icon">
            <i class="ms-Icon ms-Icon--AddNotes x-hidden-focus" aria-hidden="true"></i>
            <span>Documents</span>
        </a>
        <a ng-click="openLocation('#help')" class="nav-ms-icon help">
            <i class="ms-Icon ms-Icon--StatusCircleQuestionMark x-hidden-focus" aria-hidden="true"></i>
        </a>
        <a ng-click="openLocation('#settings')" class="nav-ms-icon settings">
            <i class="ms-Icon ms-Icon--Settings x-hidden-focus" aria-hidden="true"></i>
        </a>
    </div>
    <ng-view></ng-view>
</div>
