﻿<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <title>Infor Document Management</title>

  <link rel="stylesheet" href="styles/Office.css"/>
  <link rel="stylesheet" href="styles/OfficeThemes.css"/>
  <link rel="stylesheet" href="styles/fabric.min.css"/>
  <link rel="stylesheet" href="styles/fabric.components.min.css"/>
  <link rel="stylesheet" href="styles/angular-moment-picker.min.css"/>
  <link rel="stylesheet" href="styles/app.css"/>

  <script type="text/javascript" src="scripts/jquery-3.1.1.js"></script>
  <script type="text/javascript" src="scripts/angular.min.js"></script>
  <script type="text/javascript" src="scripts/angular-route.min.js"></script>
  <script type="text/javascript" src="scripts/Office/1/office.debug.js"></script>
  <script type="text/javascript" src="scripts/moment-with-locales.min.js"></script>
  <!--https://indrimuska.github.io/angular-moment-picker/-->
  <script type="text/javascript" src="scripts/angular-moment-picker.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="main.js"></script>
  <script type="text/javascript" src="services/StringService.js"></script>
  <script type="text/javascript" src="services/ConstantService.js"></script>
  <script type="text/javascript" src="services/ProfileService.js"></script>
  <script type="text/javascript" src="services/URIService.js"></script>
  <script type="text/javascript" src="services/AttributeService.js"></script>
  <script type="text/javascript" src="services/DocumentService.js"></script>
  <script type="text/javascript" src="services/ItemService.js"></script>
  <script type="text/javascript" src="services/AttachmentsService.js"></script>
  <script type="text/javascript" src="components/document.js"></script>
  <script type="text/javascript" src="components/settings.js"></script>
  <script type="text/javascript" src="components/help.js"></script>

  <script src="scripts/fabric.min.js"></script>
  <!--http://cirocosta.github.io/qcode-decoder/-->
  <script src="scripts/qcode-decoder.min.js"></script>
</head>
<body>
<!--[if !IE]>-->
<!-- <link rel="stylesheet" type="text/css" href="non-ie-only.css" /> -->
<!--<![endif]-->
<div id="container" ng-controller="mainController">
  <div class="ms-CommandBar ms-CommandBar--navBar">
    <div class="ms-CommandBar-mainArea">
      <div class="ms-CommandButton">
        <p class="ms-CommandButton-button" ng-click="openLocation('#document')">
              <span class="ms-CommandButton-icon ms-fontColor-themePrimary" style="margin-top:4px; margin-right:0;">
                <img src="assets/idmMain.png" alt="Share to Infor Document Management" style="height:20px"/>
              </span>
          <span class="ms-CommandButton-label" title="Document Management">Document Management</span>
        </p>
      </div>
      <div class="ms-CommandButton" style="float:right">
        <p class="ms-CommandButton-button" ng-click="openLocation('#help')" style="margin-top:4px">
              <span title="Help" style="margin-top:4px">
                <img src="assets/Help.png" alt="Share to Infor Document Management"/>
              </span>
        </p>
      </div>
      <div class="ms-CommandButton" style="float:right">
        <p class="ms-CommandButton-button" href="/home" ng-click="openLocation('#settings')" style="margin-top:4px">
              <span title="Settings">
                <img src="assets/Settings.png" alt="Share to Infor Document Management"/>
              </span>
        </p>
      </div>
    </div>
  </div>
  <ng-view></ng-view>
</div>
</body>
</html>
