﻿body {
  background-color: #e6e6e6;
}

a.nav-ms-icon {
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: none;
}

a.nav-ms-icon i {
  font-weight: bold;
  font-size: 1.3rem;
  margin-right: 5px;
}

a.nav-ms-icon.help,
a.nav-ms-icon.settings {
  float: right;
}

a.nav-ms-icon.help i {
  font-size: 1.5rem;
}

a.nav-ms-icon i, a.nav-ms-icon span {
  vertical-align: middle;
}

a.nav-ms-icon span {
  display: inline-block;
  margin-bottom: 2px;
}

h3 {
  font-size: 1rem;
}

.container {
}

.navbar {
  border-bottom: 1px solid #c0c0c0;
  padding: 15px;
}

/*.ms-CommandBar {*/
  /*border-bottom: 1px solid #c0c0c0;*/
/*}*/

/*.col-header {*/
  /*margin-bottom: 10px;*/
/*}*/

/*#container {*/
  /*margin-bottom: 80px;*/
/*}*/

/*#share-document.btn {*/
  /*margin-top: 15px;*/
/*}*/

/*.container {*/
  /*font-family: sans-serif;*/
  /*font-weight: normal;*/
  /*padding-top: 25px;*/
  /*padding-left: 10px;*/
  /*padding-right: 10px;*/
/*}*/

/*.infor-file,*/
/*.fill {*/
  /*width: 100%;*/
/*}*/

/*.infor-button {*/
  /*color: #ffffff;*/
  /*background-color: #007bff;*/
  /*border: 1px solid transparent;*/
  /*padding: .375rem .75rem;*/
  /*display: inline-block;*/
  /*font-size: 1rem;*/
  /*border-radius: .25rem;*/
  /*user-select: none;*/
  /*cursor: pointer;*/
  /*vertical-align: middle;*/
/*}*/

/*.text-center {*/
  /*text-align: center;*/
/*}*/

/*.text-right {*/
  /*text-align: right;*/
/*}*/

/*.wide {*/
  /*width: 100%;*/
/*}*/

/*!*noinspection CssInvalidPropertyValue*!*/

/*#content-main {*/
  /*background: #fff;*/
  /*position: fixed;*/
  /*top: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*bottom: 50px; !* Same value as #content-footer's height *!*/
  /*overflow: auto; !* Enable scrollbars within main content section *!*/
/*}*/

/*#content-footer {*/
  /*background-color: #cecece;*/
  /*position: absolute;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*width: 100%;*/
  /*height: 50px; !* Fixed footer height *!*/
  /*overflow: hidden; !* Disable scrollbars for footer *!*/
/*}*/

/*.padding {*/
  /*padding: 15px;*/
/*}*/

/*.btn {*/
  /*padding: .5rem 1rem;*/
  /*border-radius: .3rem;*/
/*}*/

/*.btn-block {*/
  /*display: block;*/
  /*width: 100%;*/
/*}*/

/*.pll {*/
  /*padding-left: 20px;*/
/*}*/

/*.plm {*/
  /*padding-left: 10px !important;*/
/*}*/

/*!*** overrides ***!*/
/*input[type="file"] {*/
  /*padding: .375rem .75rem;*/
/*}*/

/*.ms-Grid-row.indented-top {*/
  /*margin-top: 25px;*/
/*}*/

/*.ms-TextField,*/
/*.ms-TextField-field {*/
  /*border-radius: .25rem;*/
  /*color: #495057;*/
  /*line-height: 1.5;*/
  /*padding: .375rem .75rem;*/
  /*width: 100%;*/
/*}*/
