#attachments-container {
  background-color: #c0c0c0;
  padding: 20px 10px;
}

#document-types {
  width: 100%;
}

#idm-properties {
  margin-bottom: 50px;
  padding: 10px;
}

#share-document {
  margin-top: 25px;
}