button {
  overflow: visible;
  margin-bottom: 15px;
}

button, select {
  text-transform: none;
}

button.btn-primary:active:enabled,
button.btn-primary:hover:enabled {
  background-color: #0062cc;
  border-color: #005cbf;
  color: #ffffff;
}

button.btn-secondary:active:enabled,
button.btn-secondary:hover:enabled {
  background-color: #545b62;
  border-color: #4e555b;
  color: #ffffff;
}

form, label {
  font-size: .9rem;
}

input.form-control,
select.form-control {
  margin-bottom: 0;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

select {
  white-space: nowrap;
}

select, option {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
}

select.form-control {
  height: calc(2.25rem + 2px);
}

.btn-primary.focus, .btn-primary:focus {
  outline-color: transparent;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .5);
}

.btn-secondary.focus, .btn-secondary:focus {
  outline-color: transparent;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, .5);
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:focus, .btn:hover {
  text-decoration: none;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  color: #ffffff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-group-lg > .btn, .btn-lg {
  padding: .5rem 1rem;
  line-height: 1.5;
  border-radius: .3rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}
.error {
  color: #c3303d;
  font-style: italic;
  font-weight: 500;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.required-small-text {
  color: red;
  font-weight: bold;
  font-size: 12px;
}
