.ms-Grid {
  padding: 0;
}

.ms-Grid-col {
  display: inline-block;
  font-size: .9rem;
  padding: 7px;
}

.ms-Grid-col.active {
  cursor: pointer;
}

.ms-Grid-col.col-header {
  padding-left: 0;
}

.ms-Grid-col .ms-Icon {
  font-size: 1.5rem;
  font-weight: bold;
  vertical-align: middle;
}

.ms-Grid-col .ms-Icon.large {
  font-size: 1.1rem;
}

.ms-Grid-row {
  max-width: 100%;
  margin: 0 auto;
}

.ms-Grid-row.header {
  background-color: #9a9a9a;
}

.ms-Grid-row.header .ms-Grid-col {
  font-weight: bold;
}