#notification-message {
  background-color: #818285;
  bottom: 0;
  color: #ffffff;
  display: none; /* Hidden until invoked */
  min-height: 80px;
  width: 100%;
  position: fixed;
  z-index: 100;
}

#notification-message #notification-message-header {
  font-size: 1.1rem;
  margin-bottom: 10px;
  padding: 20px 0 5px 20px;
}

#notification-message #notification-message-body {
  font-size: .9rem;
  padding: 5px 0 40px 20px;
}

#notification-message #notification-message-close {
  background: url(../assets/Close.png) no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}